<div class="modal fade" id="edit-post-Modal-{{id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Edit Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='close-button'>X</button>
      </div>
      <div class="modal-body" id="modal-bc">
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label create-label" for="form6">Edit Date</label>
                <input type="date" id="edit-date-{{id}}" class="form-control"
                  value="{{format_date_for_input dateTime}}" />
              </div>
            </div>

            <div class="col">
              <div class="form-outline">
                <label class="form-label create-label" for="form6">Edit Time</label>
                <input type="time" id="edit-time-{{id}}" class="form-control"
                  value="{{format_time_for_input dateTime}}" />
              </div>

            </div>
          </div>
          <!-- Event title input -->
          <div class="form-outline mb-4">
            <label class="form-label create-label" for="form6">Edit Title</label>
            <input type="text" id="edit-title-{{id}}" class="form-control long-input" value="{{name}}" />
          </div>
          <!-- Adress input -->
          <div class="form-outline mb-4">
            <label class="form-label create-label" for="form6">Edit Address</label>
            <input type="text" id="edit-adress-{{id}}" class="form-control long-input" value="{{location}}" />
          </div>
          <!-- Category input -->
          <div class="form-outline mb-4">
            <label class="form-label create-label" for="form6">Edit Category</label>
            {{!-- <input type="number" id="edit-category-{{id}}" class="form-control long-input" value="{{category_id}}" /> --}}
              <select name="event-category" class="form-control long-input edit-dropdown" id="dropdown{{id}}" data-value="{{id}}">
                <option value="{{category_id}}" selected hidden='hidden'>{{category.title}}</option>
                <option value="1">Hiking</option>
                <option value="2">Camping</option>
                <option value="3">Fishing</option>
                <option value="4">Biking</option>
                <option value="5">Swimming</option>
                <option value="6">Political Event</option>
                <option value="7">Birthday</option>
                <option value="8">Social Event</option>
                <option value="9">Coffee </option>
                <option value="10">Workshop</option>
                <option value="11">Yoga</option>
                <option value="12">Workout </option>
                <option value="13">Party </option>
                <option value="14">Beach</option>
                <option value="15">Breakfast</option>
                <option value="16">Lunch</option>
                <option value="17">Dinner</option>
                <option value="18">Sports Event</option>
                <option value="19">Concert</option>
                <option value="20">Charity Event</option>
              </select>
          </div>
          <!-- Description input -->
          <div class="form-outline mb-4">
            <label class="form-label create-label" for="form6">Edit Description</label>
            <textarea class="form-control long-input" id="edit-description-{{id}}" rows="4">{{description}}</textarea>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn-primary edit-post-btn" id="confirm-change-btn" data-value="{{id}}">Confirm
            Change</button>
        </form>
      </div>

    </div>
  </div>
</div>