<!-- expanded card -->
<div class="modal-card" style="width: 450px;">
    <img src="../public/assets/{{categoey_id}}.jpg"  class="card-img-top" alt="Expanded Card Modal">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item expanded-modal-list">Date:<span class="expanded-card-li">{{dateTime}}</span></li>
        <li class="list-group-item expanded-modal-list">Time:<span class="expanded-card-li">{{dateTime}}</span></li>
        <li class="list-group-item expanded-modal-list">Location: <span class="expanded-card-li">{{location}}</span></li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link join-event-btn">Join Event</a> 
    </div>
</div>