<div class="col">
    <!-- Event Card -->
    <div class="card" style="width: 20rem;">
        <img src="../../assets/{{category_id}}.jpg" class="card-img-top" alt="Event card">
        <div class="card-body">
            <h3 class="card-title">{{name}}</h3>
            <p class="card-text">Date:<span class="event-date">{{format_date dateTime}}</span></p>
            <p class="card-text">Time:<span class="event-time">{{format_time dateTime}}</span></p>
            <button class="create-btn small-create-btn">Remove</button>
            <p class="created-by">Event created by: <span class='creator-username'>{{user.username}}</span></p>
        </div>
    </div>
</div>